<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add a Record</title>
</head>
<body>
    <h2>Please create a new record</h2>
    <form method="post">
        <div>
            <label for="bird">bird</label>
            <input name="bird" type="text" />
        </div>
        <div>
            <label for="idnotes">id notes</label>
            <input name="idnotes" type="text" />
        </div>
        <div>
            <label for="distribution">distribution</label>
            <input name="distribution" type="text" />
        </div>
        <div>
            <button type="submit">submit question</button>
        </div>
    </form>
</body>
</html>